* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.App {
  background-image: url('./Assets/cold-temp.png');
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
  min-height: 100vh;
}

.App-hot {
  background-image: url('./Assets/hot-temp.png');
}

.App-mild {
  background-image: url('./Assets/mild-temp.png');
}

main {
  min-height: 100vh;
  overflow-x: hidden;
  padding: 25px;
}

.seach-box {
  width: 100%;
  margin: 0 0 75px;
  
}

.search-box .search-bar{
  display: block;
  width: 100%;
  padding: 15px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 16px 16px;
  margin-top: -25px;

  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);

  color: #313131;
  font-size: 20px;

  transition: 0.4 ease;
}


.search-bar:focus{
  background-color: rgba(255, 255, 255, 0.75);
}


.location-box .location{
  color: #FFF;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 50, 0.75);
}


.location-box .date{
  color: #FFF;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: rgba(50, 50, 50, 0.75);
}

.weather-box{
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  border: solid 2px transparent;
  border-radius: 15px;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.3);
  text-align: center;
  margin-top: 30px;
  padding-bottom: 30px;
}

.weather-box .temp{
  position: relative;
  display: inline-block;
  margin: 30px auto;

  padding: 15px 25px;

  color: #FFF;
  font-size: 102px;
  font-weight: 900;

  text-shadow: 3px 6px rgba(50, 50, 70, 0.75);
  text-align: center;
}

.weather-box .weather {
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.weather-icon .icon{
  width: 100px;
}