* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.App {
  background-image: url('./Assets/mild-temp.png');
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
}

.App.hot {
  background-image: url('./Assets/hot-temp.png');
}

.App.cold {
  background-image: url('./Assets/cold-temp.png');
}

main {
  min-height: 100vh;
  overflow-x: hidden;
  padding: 25px;
}

.seach-box {
  width: 100%;
  margin: 0 0 75px;
}

.search-box .search-bar{
  display: block;
  width: 100%;
  padding: 15px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 16px 16px;
  margin-top: -25px;

  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);

  color: #313131;
  font-size: 20px;

  transition: 0.4 ease;
}

.search-box .search-bar:focus{
  background-color: rgba(255, 255, 255, 0.75);
}